@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Roboto';
}
body{
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}

.container{
    width: 350px;
    height: 300px;
    margin: 110px auto;
    background-color: #fdf0d5;
    border-radius: 10px;
    padding: 35px  25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}
input{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #a8dadc;
    border: none;
    outline: 0;

}
.sub{
    font-size: 20px;
    border-radius: 5px;
    background-color: #457b9d;
    color: #a8dadc;
}
.sub:hover{
    background-color: #c1121f;
    color: #fff;
}
.register{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    color: #003049;
}
.register a{
    text-decoration: none;
    color: #c1121f;
}